.img-wrapper {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.header {
  margin: 30px 0px 30px 0px;
}
.author-name {
  float: right;
}
.divider {
  margin: 30px 0px 30px 0px;
}
.comments {
  margin-bottom: 20px;
}
